<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit <%= @chapter.name %></title>
  </head>
  <body>
    <h1>Edit <%= @chapter.name %></h1>
    <form action="/chapters/<%= @chapter.id %>" method="post" id="new_chapter">
      <label><h4>Chapter Name: </h4></label>
      <input type="text" name="name" value="<%= @chapter.name %>">
      <label><h4>Chapter Content: </h4></label>
      <textarea name="content" form="new_chapter" cols="50" rows="12"><%= @chapter.content %></textarea>
      <br>
      <label><h4>Possibilities for Next Chapter:</h4></label>
      <label>Choose existing chapter(s): </label>
      <%Chapter.all.each do |chapter|%>
        <label><%= chapter.name  %></label>
        <input type="checkbox" name="path[chapter_ids][]" value="<%=chapter.id%>" id="<%=chapter.name%>" <%="checked" if @chapter.path_names.include?(chapter.name) %>></input>
      <%end%>
      <br></br>
      <label>and/or create a new chapter: </label>
      <input type="text" name="path[chapter_name]">
      <br></br>
      <input type="submit" value="Create Chapter">
    </form>

  </body>
</html>
